#sortable1 {
    list-style-type: none;
    margin: 0;
    float: left;
    background: #bbffee;
    padding: 5px;
    width: 310px; 
    min-height: 50px;
    margin-bottom: 10px;
}

#sortable2 {
    list-style-type: none;
    margin: 0;
    float: right;
    background: #eee;
    padding: 5px;
    width: 25%;
}

#random {
    float: right;
}

img {
    block-size: 150px;
    margin: 0;
    padding: 0;
}